*.kzproj_1
*.kzproj_2
*.kzproj_3
*.kzproj_4
*.kzproj_5
*.kzproj_6
*.kzproj_7
*.kzproj_8
*.kzproj_9
*.kzproj_10
*.lock
*.autosave
*.suo
*.sdf
*.vs
assets
compressed
cubemaps
gen
mipmaps
output
thumbnails
Binary
Plugins/
*.tile
tile_cache/
*/Tool_project/temp/*
**/Application Player/
*Copy.kzproj
*Release_Windows*
*Release_Windows_*
